sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
    os = "{{ .chezmoi.os }}"
    hostname = "{{ .chezmoi.hostname }}"
{{- if eq .chezmoi.os "darwin" }}
    is_mac = true
{{- else }}
    is_mac = false
{{- end }}

[data.theme]
    # Available themes: catppuccin-mocha, nord, gruvbox, tokyo-night
    # Change this value and run 'chezmoi apply' to switch themes
    name = "catppuccin-mocha"
