{
    "encryption-password": "YOUR_LUKS_PASSWORD_HERE",
    "users": [
        {
            "username": "yourusername",
            "enc_password": "GENERATE_WITH: openssl passwd -6 'yourpassword'",
            "sudo": true
        }
    ]
}
