# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Timeout for commands (ms)
command_timeout = 500

# Newline between prompts
add_newline = true

# Prompt format
format = """
$directory\
$git_branch\
$git_status\
$python\
$nodejs\
$rust\
$golang\
$cmd_duration\
$line_break\
$character"""

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
vimcmd_symbol = "[❮](bold green)"         # Normal mode indicator

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = " "

[git_status]
format = '([\[$all_status$ahead_behind\]]($style) )'

[cmd_duration]
min_time = 2000  # Show if command takes > 2s
format = "took [$duration]($style) "

# Disable slow/unused modules
[package]
disabled = true

[gcloud]
disabled = true

[aws]
disabled = true
