# Ghostty terminal config
font-family = JetBrainsMono Nerd Font
font-size = 14

{{ if eq .chezmoi.os "darwin" -}}
macos-option-as-alt = true
{{ end -}}

# Theme (Catppuccin Mocha)
background = #1e1e2e
foreground = #cdd6f4
